---
import { Image } from "astro:assets";
import SmallBox from "./SmallBox.astro";
import into from "../assets/images/into_reality.jpg";

const { liContentFirst = "liContentFirst", liContentSecond = "liContentSecond", headerContent = "headerContent", pContent = "pContent" } = Astro.props;
---

<section>
  <div>
    <SmallBox colorOfBox="green" boxContentP="WE'LL WORK WITH YOU" />
    <h2>{headerContent}</h2>
    <p>{pContent}</p>
    <ul>
      <li>{liContentFirst}</li>
      <li>{liContentSecond}</li>
    </ul>
  </div>
  <div>
    <Image src={into} alt="/" />
  </div>
</section>

<style>
  @layer components {
    @media only screen and (min-width: 601px) {
      section {
        & div:nth-child(1) {
          grid-column: 2;
        }
      }
    }

    @media only screen and (max-width: 600px) {
      section {
        & div:nth-child(1) {
          grid-column: 2/4;
        }
        .ExContent {
          grid-row: 2;
          grid-column: 2/4;
        }
      }
    }
    :root {
      --checkmark-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path fill="%234EAF4E" d="M176.49 95.51a12 12 0 0 1 0 17l-56 56a12 12 0 0 1-17 0l-24-24a12 12 0 1 1 17-17L112 143l47.51-47.52a12 12 0 0 1 16.98.03M236 128A108 108 0 1 1 128 20a108.12 108.12 0 0 1 108 108m-24 0a84 84 0 1 0-84 84a84.09 84.09 0 0 0 84-84"/></svg>');
      --square-pattern: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><path d="M7.47662 4.02206C6.50635 3.05178 5.53232 2.07774 4.56205 1.10745C4.28482 0.83023 3.80905 0.83023 3.53183 1.10745C2.56155 2.07774 1.59128 3.04803 0.621002 4.02206C0.343781 4.29929 0.343781 4.77506 0.621002 5.05229C1.59128 6.02258 2.5653 6.99661 3.53558 7.9669C3.8128 8.24412 4.28857 8.24412 4.56579 7.9669C5.53607 6.99661 6.51009 6.02258 7.48037 5.05229C7.63022 4.90244 7.69016 4.73011 7.69016 4.56527C7.69016 4.55403 7.69016 4.54654 7.69016 4.5353C7.69016 4.52781 7.69016 4.51657 7.69016 4.50908C7.69016 4.34424 7.63022 4.17191 7.47662 4.02206ZM4.04881 6.41968C3.41944 5.79031 2.79382 5.16468 2.16445 4.5353C2.79382 3.90593 3.41944 3.2803 4.04881 2.65092C4.67818 3.2803 5.3038 3.90593 5.93317 4.5353C5.3038 5.16468 4.67818 5.79031 4.04881 6.41968Z"/></svg>');
    }
    section {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1/-1;
      gap: 5.12rem;
      padding: 3rem 0rem;
      background-color: var(--primary_white);
    }

    ul {
      display: grid;
      gap: 1.12rem;

      li {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
      }
      li:before {
        content: " ";
        width: 1.6rem;
        aspect-ratio: 1;
        background: var(--checkmark-icon) 50% 50% / contain no-repeat;
      }
    }

    .boxContent {
      background-color: var(--primary_yellow);
      width: fit-content;
      border-radius: 1.25rem;
      padding: 0rem 0.75rem;
    }

    img {
      background-image: url("../src/assets/images/what_to_expect.jpg");
      z-index: 2;
      position: relative;
    }
    .imgPic {
      position: relative;

      &::before {
        --square-count: 10;
        --square-size: 1.34rem;

        --_square-size: var(--square-size, 1rem);
        --_square-half: calc(var(--square-size) / 2);
        --_square-sum: calc(var(--square-count) * var(--square-size));
        z-index: 1;
        content: "";
        position: absolute;
        inset: -1.875rem 21.5rem auto auto;
        /*inline-size: calc(var(--square-count) * 1.34rem - .67rem);*/
        inline-size: calc(round(var(--_square-sum), var(--_square-size)) - var(--_square-half));
        aspect-ratio: 1;
        background: linear-gradient(135deg, #be965d, #976f40, #c99b61, #f0be7b, #ffcb85, #eebc79, #c0935b, #976f40) 0 0 / 100% 100%;
        mask:
          var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
          var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
        /*clip-path: polygon(-3% 0%, 100% 0%, 100% 103%);*/
      }

      &::after {
        content: "";
        position: absolute;
        inset: -1.25rem 24.064rem auto auto;
        background: green;
        width: 150px;
        height: 100px;
        border-radius: 10px;
        z-index: 1;
      }
    }
  }
</style>
